#app{
    font-size: 13px;
}
.tasks{
    margin-top: 15px;
    height: 75px!important;
    box-shadow: 0 1px 0 rgba(9,45,66,.25);
    text-align: left;
}
.card{
    background-color: #dfe3e6!important;
    padding: 10px;
    border: none !important;
}
.addCard{
    margin-top: 10px;
}
.indice{
    font-size: 12px;
    margin-left: 2px;
}

.title{
    margin-top: 50px;
}

.modal-dialog{
    max-width: 750px!important;
}

.etiquettes{
    height: 20px;
    color: white;
    border-radius: 5px
}
/*Navbar

 */
.navbar-laravel{
    background-color: #026aa7;
    color: #fff;
}

.navbar-brand{
    color: #fff!important;
}

.main-row{
    width: 100%;
    overflow-x: auto;
    display: inline-flex;
}

.main-dashboard{
    display: inline-flex;
}

.fas{
    color: #798d99;
}

.createListBtn{
    height: 40px;

}

.display-dashboard{
    display: inline-flex;
}