#app{
    font-size: 13px;
}
.tasks{
    margin-top: 15px;
    height: 75px!important;
    box-shadow: 0 1px 0 rgba(9,45,66,.25);
    text-align: left;
}
.card{
    background-color: #dfe3e6!important;
    padding: 10px;
    border: none !important;
}
.addCard{
    margin-top: 10px;
}
.indice{
    font-size: 12px;
    margin-left: 2px;
}

.title{
    margin-top: 50px;
}

.modal-dialog{
    max-width: 750px!important;
}

.etiquettes{
    height: 20px;
    color: white;
    border-radius: 5px
}
/*Navbar

 */
.navbar-laravel{
    background: rgba(0,0,0,.15);
    color: #fff;
}

.navbar-brand{
    color: #fff!important;
}

.main-row{
    width: 100%;
    overflow-x: auto;
    display: inline-flex;
}

.main-dashboard{
    display: inline-flex;
    background: rgba(0,0,0,.15);
    color: white;
    margin-bottom: 15px;
}

.fa-star{
    color: white;
}

.createListBtn{
    height: 40px;

}

.display-dashboard{
    display: inline-flex;
}

.dashboard-list a{
    display: inline-flex;
    margin-bottom: 15px;
    color: white;
}

.card-title{
    font-weight: bold;
}

.dashboard-header{
    padding-top: 10px;
}

.dashboard-param{
    margin-right: 25px;
    margin-left: 25px;
    color: #fff;
}

.etiqDiv{
    height: 30px;
    border-radius: 5px;
    padding-top: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.div-list-etiq{
    display: inline-flex;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    color: #fff;
}

.tasking{
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.coop{
    display: inline-flex;
    width: 25px;
    height: 25px;
    background: rgba(0,0,0,.15);
    padding: 5px;
    cursor: pointer;
}

.edit-title-card{
    font-weight: bold;
}

.carte-title{
    margin-top: 15px;
}

.save-list{
    margin-top: 10px;
}